.appointments-container{
    padding:40px;
    background:#eef5ff;
    min-height:100vh;
}

.appointments-container h1{
    text-align:center;
    color:#1565c0;
    margin-bottom:30px;
}

.appointment-card{
    background:white;
    padding:20px;
    margin:20px auto;
    max-width:700px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.appointment-card h3{
    color:#1565c0;
    margin-bottom:10px;
}

.appointment-card p{
    margin:8px 0;
}